<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Current Weather";
}
	
<head>
	<link rel="stylesheet" href="~/css/CurrentWeather.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
	<script src='~/js/CurrentWeather.js'></script>	
</head>
	
<body>
    <div id="weather"></div>
    <button class="js-geolocation" style="display: none;">Use Your Location</button>
</body>

	
</html>
