@{
    ViewBag.Title = "WeatherJS";
}

<h2>WeatherApp</h2>

<p style="float:right; font-size: 18px;">
    Current Latitude: <span id="lat"></span><br />
    Current Longitude: <span id="long"></span>
</p>
<p>
    City: <span id="reply" style="font-weight: bold;"></span><br /> 
	Temperature: <span id="temp" style="font-weight: bold;"></span> F<br /> 
	Humidity: <span id="humid" style="font-weight: bold;"></span><br /> 
    Wind Speed: <span id="wind" style="font-weight: bold;"></span> 
</p>
<br />
<input id="citySearch" />
<button>Get Weather!</button><br />

<div id="jsGrid" style="margin-top:45px;"></div>


<script>
	$(document).ready(function(){

        function getLocation() {
            navigator.geolocation.getCurrentPosition(function(location) {
                $("#lat").text(location.coords.latitude);
                $("#long").text(location.coords.longitude);
            });
        };
        getLocation();
		
        var denverWeather = 
        $.get("http://api.openweathermap.org/data/2.5/weather?q=Denver&APPID=b885650de0f3affccf9d24305410338e&units=imperial", 
			function(response){
                $(".jsgrid-row:first-child>td:nth-child(2)").text(response.main.temp);
                $(".jsgrid-row:first-child>td:nth-child(3)").text(response.wind.speed);
            });

       var londonWeather = 
        $.get("http://api.openweathermap.org/data/2.5/weather?q=Philadelphia&APPID=b885650de0f3affccf9d24305410338e&units=imperial", 
			function(response){
                $("tr:nth-child(2)>td:nth-child(2)").text(response.main.temp);
                $("tr:nth-child(2)>td:nth-child(3)").text(response.wind.speed);
            });

      var helsinkiWeather = 
        $.get("http://api.openweathermap.org/data/2.5/weather?q=Helsinki&APPID=b885650de0f3affccf9d24305410338e&units=imperial", 
			function(response){
                $("tr:nth-child(3)>td:nth-child(2)").text(response.main.temp);
                $("tr:nth-child(3)>td:nth-child(3)").text(response.wind.speed);
            });

     
      var berlinWeather = 
        $.get("http://api.openweathermap.org/data/2.5/weather?q=Berlin&APPID=b885650de0f3affccf9d24305410338e&units=imperial", 
			function(response){
                $("tr:nth-child(4)>td:nth-child(2)").text(response.main.temp);
                $("tr:nth-child(4)>td:nth-child(3)").text(response.wind.speed);
            });  

      
      var albertaWeather = 
        $.get("http://api.openweathermap.org/data/2.5/weather?q=Helsinki&APPID=b885650de0f3affccf9d24305410338e&units=imperial", 
			function(response){
                $("tr:nth-child(5)>td:nth-child(2)").text(response.main.temp);
                $("tr:nth-child(5)>td:nth-child(3)").text(response.wind.speed);
            });   


	    $("button").click(function(){
	        var citySearch = $("#citySearch").val();
		    $.get("http://api.openweathermap.org/data/2.5/weather?q=" + citySearch + "&APPID=b885650de0f3affccf9d24305410338e&units=imperial", 
			function(response){ 
	            console.log(response);
	            $("#reply").text(response.name);
			    $("#temp").text(response.main.temp);
	            $("#humid").text(response.main.humidity); 
                $("#wind").text(response.wind.speed);
			});  
	    });
	
    var cities = [
        { "City": "Denver", "Temperature": "Error", "Wind Speed": "", "Country": 1, "Married": false },
        { "City": "London", "Temperature": "", "Wind Speed": "", "Country": 3, "Married": true },
        { "City": "Helsinki", "Temperature": "", "Wind Speed": "", "Country": 4, "Married": false },
        { "City": "Berlin", "Temperature": "", "Wind Speed": "", "Country": 5, "Married": true },
        { "City": "Alberta", "Temperature": "", "Wind Speed": "", "Country": 2, "Married": false }
    ];
 
    var countries = [
        { Name: "", Id: 0 },
        { Name: "United States", Id: 1 },
        { Name: "Canada", Id: 2 },
        { Name: "United Kingdom", Id: 3 },
	    { Name: "Finland", Id: 4},
	    { Name: "Germany", Id: 5},
    ];
 
    $("#jsGrid").jsGrid({
        width: "100%",
        height: "250px",
 
        inserting: true,
        editing: true,
        sorting: true,
        paging: true,
 
        data: cities,
 
        fields: [
            { name: "City", type: "text", width: 100, validate: "required" },
            { name: "Temperature (F)", type: "number", width: 40 }, 
            { name: "Wind Speed", type: "number", width: 40 },
            { name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
            { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
            { type: "control" }
        ]

    });
	});
</script>
