@{
    ViewBag.Title = "WeatherJS";
}

<h2>MyWeather</h2>

<!--<p style="float:right; font-size: 18px;">
    Current Latitude: <span id="lat"></span><br />
    Current Longitude: <span id="long"></span>
</p>-->

<p>
    City: <span id="reply" style="font-weight: bold;"></span><br /> 
	Temperature(F): <span id="temp" style="font-weight: bold;"></span><br /> 
	Humidity: <span id="humid" style="font-weight: bold;"></span><br /> 
    Wind Speed: <span id="wind" style="font-weight: bold;"></span>
</p>
<br />
<input id="citySearch" placeholder="enter a city here"/>
<button class="btn btn-info">Get Weather!</button>


<button id="refreshBtn" class="btn btn-warning" style="float:right; width:170px; height:50px; font-size:18px;">Refresh Weather!</button>
<br />

<div id="jsGrid" style="margin-top:45px;"></div>

